{% extends 'base.html.twig' %}

{% block title %}
    About | {{ parent() }}
{% endblock %}

{% block body %}
    <section class="ideaSection">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Accusantium aut cupiditate, delectus enim est ipsam molestias nulla?
            Ab culpa ea minima pariatur perspiciatis, quas qui repellat repudiandae.
            Consequatur, dolores, reiciendis.</p>
        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci distinctio dolor,
                ducimus eum harum ipsa iusto libero modi mollitia nesciunt numquam officia repellendus
                tempora tempore ut, voluptatem. Labore, voluptatibus?</span><span>Accusantium cum
                doloremque enim et, exercitationem, hic id, ipsa laudantium molestias natus possimus
                quasi voluptas voluptate. Aliquid deserunt dolorem ducimus optio. Asperiores commodi
                deserunt dolores dolorum nihil provident quae reiciendis.</span><span>Aperiam atque
                corporis cupiditate exercitationem ipsa natus nemo nihil odio praesentium, quia quis
                quisquam rem repellat reprehenderit sint sunt veniam. A asperiores atque laudantium
                nam nemo officia repellat similique tempora!</span><span>Adipisci atque, aut cumque dicta
                eligendi expedita iure laboriosam laudantium libero magni modi nam, odit quod, totam vel.
                Cumque eligendi harum in nesciunt quia. Amet consequuntur enim eveniet in nihil.</span>
            <span>Aliquam amet asperiores aut autem culpa ipsa maiores modi neque nisi nulla numquam,
                odit quisquam sit suscipit ut vero vitae voluptatem. Amet aperiam blanditiis consectetur
                dicta illum ipsa officiis provident!</span></p>
    </section>
{% endblock %}

