{% extends 'base.html.twig' %}

{% block title %}
    About | {{ parent() }}
{% endblock %}

{% block body %}
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Accusantium aut cupiditate, delectus enim est ipsam molestias nulla?
        Ab culpa ea minima pariatur perspiciatis, quas qui repellat repudiandae.
        Consequatur, dolores, reiciendis.</p>
{% endblock %}

