{% extends 'base.html.twig' %}

{% block title %}
 Détails du souhait | {{ parent() }}
{% endblock %}

{% block body %}
    <h2>Affichage du titre du souhait</h2>
    <div>
        {# todo: afficher ici les diférent détails du souhait #}
    </div>
{% endblock %}

