{% extends 'base.html.twig' %}

{% block body %}
    <div>
        {% for wish in wishList %}
            <a href="{{ path('wish_details', {'id' : wish.id}) }}">{{ wish.title }} | Catégorie : {{ wish.category.name }}</a>
        {% endfor %}
    </div>
{% endblock %}

{% block title %}
    WishList | {{ parent() }}
{% endblock %}

